{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}修改密码 - 个人影视网站{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3><i class="bi bi-key"></i> 修改密码</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-check-circle"></i> 更新密码
                        </button>
                    </form>
                    
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'index' %}" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-left"></i> 返回首页
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 